.popup {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0.3s, opacity 0.3s linear;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

