.popup__submit-button {
  width: 100%;
  height: 50px;

  background-color: black;
  border-radius: 2px;

  color: white;

  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
}

.popup__submit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
  }
}
