.popup__submit-button {
  width: 100%;
  height: 50px;
  background-color: black;

  border: 2px solid #FFFFFF;
  border-radius: 2px;

  color: white;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 37px;
  margin-top: 18px;
  padding: 0;
}

.popup__submit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
