.popup__close-button {
  position: relative;
  left: 438px;
  width: 32px;
  height: 32px;
  top: -338px;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: 0;
  z-index: 3;
  transition: opacity 0.2s ease-in-out;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    left: 262px;
    width: 20px;
    height: 20px;
  }
}
