.popup__item{
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
}


@media screen and (max-width: 500px) {
    .popup__item {
        font-size: 14px;
        line-height: 17px;
    }
  }
  